:root {
    --background:#252525;
    --orange:#FFA400;
    --red:#FC2933;
    --white:#FFFFFF;
    --gradient: linear-gradient(98.81deg, #FFA100 -0.82%, #FB103D 101.53%);
}

/* Raleway */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Montserrat */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
}

/*navbar*/

.header  {
    height: 65px;
    width: 100%;
    background: var(--background);
    padding: 0px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 .main-icon {
   width: 51px;
   height: 51px;

 }

 .nav ul {
    display: flex;
    list-style: none;
    gap: 100px;
 }

.home-text {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    color: azure;
    padding: 0px 20px;
    font-size: 12px;
}

.home-icon {
    font-weight: 600;
  
    cursor: pointer;
    font-size: 18px;
    color: var(--orange);
}

.icon-profile {
    font-weight: 600;
    cursor: pointer;
    font-size: 18px;
    color: var(--orange);
}

.cart-icon {
    font-weight: 600;
    cursor: pointer;
    font-size: 18px;
    color: var(--orange);
}

#cart-toggle{
    display: none;
}

.cart  {
    position: absolute;
    top: 65px;
    right: 0;
    padding: 50px 30px;
    background: linear-gradient(0deg, rgba(0,0,0,1) 11%, rgba(37,37,37,1) 62%);
    border-left: 1px solid #FB103D;
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: calc(100vh -  65px);
    display: none;
    z-index: 2;
    cursor: auto;
}

.cart h2 {
    color: var(--white);
    font-size: 20px;
    font-weight: 600;
}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background-color: var(--background);
    padding: 15px;
    border: 2px solid var(--orange);
    border-radius: 10px;
}

.cart-item img {
    height: 65px;
    width: 65px;
}

.item-info {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.item-title {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 14px;
}

.item-bid {
    color: gray;
    font-weight: 300;
    font-size: 12px;
}

.item-price {
    background: linear-gradient(98.81deg, #FFA100 -0.82%, #FB103D 101.53%);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    font-size: 16px;
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;
}

.item-handler {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border: 1px solid var(--white);
    border-radius: 30px;
}

.quantity-handler {
    display: flex;
    justify-content: center;
    padding: 2px 8px;
    color: var(--white);
    border-radius: 5px;
}


.item-quantity {
    color: var(--white);
}

.up:hover {
    background-color: #3c3a3a;
    border-radius: 30px;
}

.down {
    color: #3c3a3a;
}

.divider {
    border: 0.5px solid var(--white);
    margin-top: 20px;

}


.cart-total {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

}

.cart-total p {
    color: var(--white);
    font-weight: 700;
}

.cart-total span {
    color: var(--white);
    font-size: 18px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}

#cart-toggle:checked + .cart {
    display: flex;
}

.btn-add {
    border: 2px solid var(--background);
    border-radius: 45px;
    height: 35px;
    background-image:linear-gradient(98.81deg, #FFA100 -0.82%, #fb103d 101.53%) ;
    color: var(--white);
    cursor: pointer;
}

/*main*/



/*hero*/



/*cards*/



/*footer*/



/*animations*/



/*responsive*/