:root {
    --background:#252525;
    --orange:#FFA400;
    --red:#FC2933;
    --white:#FFFFFF;
    --gradient: linear-gradient(98.81deg, #FFA100 -0.82%, #FB103D 101.53%);
}

/* Raleway */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Montserrat */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
}

/*navbar*/

.header  {
    height: 65px;
    width: 100%;
    background: var(--background);
    padding: 0px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 .main-icon {
   width: 51px;
   height: 51px;

 }

 .nav ul {
    display: flex;
    list-style: none;
    gap: 100px;
 }

.home-text {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    color: azure;
    padding: 0px 20px;
    font-size: 12px;
}

.home-icon {
    font-weight: 600;
  
    cursor: pointer;
    font-size: 18px;
    color: var(--orange);
}

.icon-profile {
    font-weight: 600;
    cursor: pointer;
    font-size: 18px;
    color: var(--orange);
}

.cart-icon {
    font-weight: 600;
    cursor: pointer;
    font-size: 18px;
    color: var(--orange);
}

#cart-toggle{
    display: none;
}

.cart  {
    position: absolute;
    top: 65px;
    right: 0;
    padding: 50px 30px;
    background: linear-gradient(0deg, rgba(0,0,0,1) 11%, rgba(37,37,37,1) 62%);
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: calc(100vh -  65px);
    display: none;
    z-index: 2;
    cursor: auto;
}

.cart h2 {
    color: var(--white);
    font-size: 20px;
    font-weight: 600;
}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 15px;
    border: 1px solid var(--orange);
    border-radius: 10px;
}

.cart-item img {
    height: 65px;
    width: 65px;
}

.item-info {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.item-title {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 14px;
}

.item-bid {
    color: gray;
    font-weight: 300;
    font-size: 12px;
}

.item-price {
    background: linear-gradient(98.81deg, #FFA100 -0.82%, #FB103D 101.53%);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    font-size: 16px;
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;
}

.item-handler {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border: 1px solid var(--white);
    border-radius: 30px;
}

.quantity-handler {
    display: flex;
    justify-content: center;
    padding: 2px 8px;
    color: var(--white);
    border-radius: 5px;
}


.item-quantity {
    color: var(--white);
}

.up:hover {
    background-color: #3c3a3a;
    border-radius: 30px;
}

.down {
    color: #686262;
}

.divider {
    border: 0.5px solid var(--white);
    margin-top: 20px;

}


.cart-total {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.cart-total p {
    color: var(--white);
    font-weight: 700;
}

.cart-total span {
    color: var(--white);
    font-size: 18px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}

#cart-toggle:checked + .cart {
    display: flex;
}

.btn-add {
    border: 2px solid var(--background);
    border-radius: 45px;
    height: 35px;
    background-image:linear-gradient(98.81deg, #FFA100 -0.82%, #fb103d 101.53%) ;
    color: var(--white);
    cursor: pointer;
}

.title-pay {
    color: var(--white);
    /* text-decoration: underline; */
}   

.pay-mettod {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

 .btn-pay {
    border: 2px solid var(--background);
    border-radius: 10px;
    height: 30px;
    background: linear-gradient(90deg, rgba(135,11,122,1) 11%, rgba(89,12,193,1) 62%);
    color: var(--white);
    font-weight: 700;
    width: 150px;
    cursor: pointer;
 }

.cart-img {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
}

/*main*/
main {
    font-family: 'Montserrat', sans-serif;
}
/*categories*/

#section-cat {
    background-color: #0D0D0D; 
    padding-bottom: 74px;
}
.product-categories {
    display: flex;
    flex-direction: column;
    padding-top: 84px;
}
.product-categories h2 {
    color: #FFFFFF;
    padding-left: 130px;
    font-style: normal;
    font-weight: 800;
    font-size: 15px;
}

.contenedor-cat {
    display: flex;
    padding-top: 31px;
    justify-content: center;
    gap: 36px;
}
.categories{
    padding-top: 31px;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #252525;
    box-shadow: 0px 0px 50px rgba(1, 2, 7, 0.5);
    width: 147px;
    height: 171px;
    border-radius: 15px;
}
.categories h3 {
    padding-top: 21px;
    padding-bottom: 12px;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
}

.categories img {
    width: 71px;
    height: 71px;
}

.barrainf {
    width: 24px;
    height: 4px;
    background: linear-gradient(98.81deg, #FFA100 -0.82%, #FF005C 101.53%);
    box-shadow: 0px 0px 50px rgba(1, 2, 7, 0.5);
    border-radius: 15px;
}



/*hero*/



/*cards*/



/*footer*/



/*animations*/



/*responsive*/